###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
#*.sln       merge=binary
#*.csproj    merge=binary
###############################################################################
